
<% if user_signed_in? %>
	<li> <%= link_to current_user.username, edit_user_registration_path %></li>
	<li> <%= link_to 'logout', destroy_user_session_path, method: :delete %></li>
<% else %>
<li> <%= link_to 'sign_up', new_user_registration_path %></li>
<li> <%= link_to 'login', new_user_session_path %></li>
<% end %>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>



<%= link_to 'productos', productos_path %>

